
{% if msg.user_id != g.user.id %}
    {% if msg.id not in liked_message_ids%}
    <form method="POST" action="/like/{{ msg.id }}">
        {{ g.hidden_form.hidden_tag() }}
        <button type="submit" class="far fa-star"
            style="z-index:10; position: relative; padding: 0; border: none; background: none;">
        </button>
    </form>
    {% else %}
    <form method="POST" action="/unlike/{{ msg.id }}">
        {{ g.hidden_form.hidden_tag() }}
        <button type="submit" class="fas fa-star"
            style="z-index:10; position: relative; padding: 0; border: none; background: none;">
        </button>
    </form>
    {% endif %}
{% endif %}