{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in user.messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
            <p>{{ message.text }}</p>

            {% if message not in g.user.likes and message.user_id != g.user.id %}
              <form method="POST" action="/like/{{ message.id }}">
                {{ form.hidden_tag() }}

                <button type="submit" class="far fa-star" style="z-index:10; position: relative; padding: 0; border: none; background: none;">
                </button>
              </form>
            {% elif message in g.user.likes and message.user_id != g.user.id %}

              <form method="POST" action="/unlike/{{ message.id }}">
                {{ form.hidden_tag() }}
                <button type="submit" class="fas fa-star" style="z-index:10; position: relative; padding: 0; border: none; background: none;">
                </button>
              </form>
            {% endif %}

          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}